.app {
  width: 100%;
  height: 100%;
  text-align: center;
  
  background: linear-gradient(132deg, #ec5218, #1665c1);
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
}


@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}