.character__image-wrapper {
  width: 170px;
  height: 240px;
}

.character__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.character__name {
  margin: 10px 0;
}

.character__house {
  margin: 0;
}