.app__form {
  max-width: 768px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.63);

  @media all and (min-width: 768px) {
    min-width: 748px;
  }

  @media all and (min-width: 1024px) {
    min-width: 860px;
  }
}

.character-name__label {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.character-name__input {
  padding: 5px;
}
