.app__main {
  min-height: 45vh;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__main--detail {
  min-height: 85vh;
  align-items: flex-start;
}